{% extends "base.html" %} {% block title %}{{ app.name }} - {{ project.name }}{%
endblock title %} {% block body %}
<h1>{{ app.name }}</h1>
<p>
  <strong>Repository URL:</strong>
  <a href="{{ app.repository_url }}">{{ app.repository_url }}</a>
</p>
<p><strong>Build Type:</strong> {{ app.build_type }}</p>

<a href="{{ url_for('root.ci.project_detail', project_id=project.id) }}"
  >Back to {{ project.name }} Apps</a
>
<div class="d-flex justify-content-center">
  <a
    href="{{ url_for('root.ci.project_detail', project_id=project.id) }}"
    class="btn btn-danger text-white"
  >
    Back
  </a>
</div>
{% endblock body%}
