<!-- templates/app_detail.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>{{ app.name }} - {{ project.name }}</title>
  </head>
  <body>
    {% include "header.html" %}
    <h1>{{ app.name }}</h1>
    <p>
      <strong>Repository URL:</strong>
      <a href="{{ app.repository_url }}">{{ app.repository_url }}</a>
    </p>
    <p><strong>Build Type:</strong> {{ app.build_type }}</p>

    <a href="{{ url_for('root.ci.project_detail', project_id=project.id) }}"
      >Back to {{ project.name }} Apps</a
    >
    {% include "footer.html" %}
  </body>
</html>
