<table class="table table-hover">
  <caption>
    this table contains apps scoped secrets : {{app.name}}
  </caption>
  <thead>
    <tr>
      <th scope="col">
        <div class="d-flex align-items-center justify-content-between">
          <span></span>
          <a
            href="{{ url_for('root.ci.create_secret', project_id=project.id, app_id=app.id) }}"
            class="btn d-flex btn-success align-items-center justify-content-around"
            ><span class="material-icons"> add </span> Add</a
          >
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for secret in app.project_secrets %}
    <tr>
      <td>
        <a
          class="d-flex justify-content-between text-decoration-none"
          href="{{ url_for('root.ci.app_detail', project_id=project.id, app_id=app.id) }}"
        >
          <div>
            <h5>{{secret.name}}</h5>
            <p>{{secret.refs}}</p>
            <p>{{secret.c_names}}</p>
          </div>
        </a>
      </td>
    </tr>
    {% endfor %} {% for secret in app.secrets %}
    <tr>
      <td class="d-flex justify-content-between text-primary">
        <div>
          <h5>{{secret.secret.name}} - {{secret.env}}</h5>
          <p>{{secret.url}}</p>
          <p>{{secret.name}} : {{secret.secret.value}}</p>
        </div>
        <div>
          <button
            onclick="onDelete(this,'{{ url_for('root.ci.delete_secret', project_id=project.id, app_id=app.id, secret_id = secret.secret_id) }}')"
            class="btn btn-danger text-white d-flex align-items-center justify-content-around"
          >
            <span class="material-icons"> delete </span>
            Delete
          </button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
