{% extends "base.html" %} {% block title %}Create App{% endblock title %} {%
block body %}
<div class="d-flex flex-column justify-content-center align-items-center pt-3">
  <h1>Create App</h1>
  <form method="POST" class="w-50">
    <div class="mb-3">
      <label for="name" class="form-label">App Name:</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="name"
        required
      /><br />
      <label for="description" class="form-label">Description:</label>
      <textarea
        name="description"
        class="form-control"
        id="description"
        required
      ></textarea
      ><br />
      <label for="repository_url" class="form-label">Repository Url:</label>
      <input
        type="text"
        name="repository_url"
        class="form-control"
        id="repository_url"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
    <a
      class="btn btn-danger"
      href="{{url_for('root.ci.project_detail', project_id=project.id)}}"
      >Cancel</a
    >
  </form>
</div>
{% endblock body %}
