{% extends "base.html" %} {% block title %}Create {{app.name}} Secret{% endblock
title %} {% block body %} {% if error %}
<script>
  window.addEventListener("DOMContentLoaded", function () {
    alert("{{error}}");
  });
</script>
{% endif %}
<div class="d-flex flex-column justify-content-center align-items-center pt-3">
  <h1>Create {{app.name}} Secret</h1>
  <form method="POST" class="w-50">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="name"
        pattern="^[a-zA-Z0-9-]*$"
        required
      />
      <br />
      <label for="value" class="form-label">Value:</label>
      <input
        type="password"
        name="value"
        class="form-control"
        id="value"
        pattern="^[a-zA-Z0-9-]*$"
        required
      />
      <br />
      <label for="mount_path" class="form-label">Mount Path:</label>
      <input
        type="text"
        name="mount_path"
        class="form-control"
        id="mount_path"
        required
        value="/"
      />
      <br />
      <label for="base_path" class="form-label">Base Path:</label>
      <input
        type="text"
        name="base_path"
        class="form-control"
        id="base_path"
        value="/etc/secrets"
        required
      />
      <br />
      <label for="target_name" class="form-label">Target Name:</label>
      <input
        type="text"
        name="target_name"
        class="form-control"
        id="target_name"
        value=""
      />
      <br />
      <label for="env" class="form-label">Env:</label>
      <select id="env" name="env" class="form-control" required>
        <option value="True">True</option>
        <option value="False">False</option></select
      ><br />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add</button>
    <a
      class="btn btn-danger"
      href="{{url_for('root.ci.app_detail', project_id=project.id, app_id=app.id)}}"
      >Cancel</a
    >
  </form>
</div>
{% endblock body %}
