<!-- templates/create_project.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Create Project</title>
  </head>
  <body>
    {% include "header.html" %}

    <h1>Create Project</h1>
    <form method="POST">
      <label for="name">Project Name:</label>
      <input type="text" name="name" id="name" required /><br />
      <label for="description">Description:</label>
      <textarea name="description" id="description" required></textarea><br />
      <button type="submit">Create Project</button>
    </form>
    <a href="/">Back to Projects</a>
    {% include "footer.html" %}
  </body>
</html>
