<table class="table table-hover">
  <caption>
    this table contains apps scoped namespace : {{project.name}}
  </caption>
  <thead>
    <tr>
      <th scope="col">
        <div class="d-flex align-items-center justify-content-between">
          <span></span>
          <a
            href="{{ url_for('root.ci.create_app', project_id=project.id) }}"
            class="btn d-flex btn-success align-items-center justify-content-around"
            ><span class="material-icons"> add </span> Add</a
          >
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for app in project.apps %}
    <tr>
      <td>
        <a
          class="d-flex justify-content-between text-decoration-none"
          href="{{ url_for('root.ci.app_detail', project_id=project.id, app_id=app.id) }}"
        >
          <div>
            <h5>{{app.name}}</h5>
            <p>{{app.description}}</p>
          </div>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
